{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
        <br>
          <div class="site-hero-content text-center" style="padding:20px 0 0 0">
          <img src="images/nino-jesus.jpg" width="123" height="224" alt="Baby Jesus">
            <h5 style="margin:20px 0 0;padding:0">{{ .tagline }}</h5>
            <h1 style="margin:0;padding:0">
              {{ .heading }}
            </h1>
            <ul class="site-hero-content-buttons" style="margin:20px 0 0;padding:0">
              <li>
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ .secondary_button }}">
                      {{ .secondary_button }}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="#plan" class="site-hero-scroll scroll-to" style="bottom:40px">
      <img src="images/arrow-down.svg" alt="arrow-down">
    </a>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}